# # Assignment - 3 {Data structure}

Q1. Write a code to reverse a string.

In [1]:
# here using slicing of string
string1 = 'sweet but psycho just like american pie'
string1[ : : -1]

'eip nacirema ekil tsuj ohcysp tub teews'

Q2. Write a code to count the no. of vowels in a string.

In [28]:
## one by one reading of elements of string
str_ = input('Enter the string')
str_ = str_.lower()
vowels = 'aeiou'
count = 0

for i  in str_lower:
    if i is vowel:
        count += 1
        
print('total vowels in this string :' , count)

Enter the string hold your horses

NameError: name 'str_lower' is not defined

Q3. Write a code to check if a given string is a palindrome or not.

In [6]:
sint_ = input('Enter a word')
rev = sint_[ : : -1]

if sint_ is rev:
    print('Its a palindrome')
else:
    print('Its not a palinrdrome')

Enter a word Entertain

Its not a palinrdrome

Q4. Write a code to check if two given strings are anagrams of each other.

In [20]:
def are_anagram(str_1 , str_2):
     str_1 = input('Enter the word')
     str_2 = input('Enter the word')

if are_anagram(str_1 , str_2):
    print('The strings are anagrams')
else:
    print('The strings are not anagram')

Enter the word KARAN
Enter the word NARAK

The strings are not anagram

Q5. Write a code to find all occurences of a given substring within another string.

In [22]:
mystring = 'Hey!! siri'
substring  = 'siri'

if substring in mystring :
    print ('Yes, its a part of string')
else:
    print('No, its not apart of string')

Yes, its a part of string

Q6.Write a code to perform basic string compression using the counts of repeated

In [ ]:
def compression1(str):
    i = 0
    while( i < len (str)):
        count = 1
        while(1 < len(str - 1) and str[i] == str[i+1]):
            i  += 1
            
        print(str[i] , end = '')
        if(count > 1):
            print(count , end = '')

str = input()

Q7. Write a code to determine if a string has all unique characters.

In [2]:
def check_chars(s):

    if s is None or len(s) == 0:
         return False

    for chars in s:
            return True

print(check_chars('black'))

True

Q8. Write a code to convert a given string to uppercase or lowercase.

In [4]:
text_ = 'netherland'
text_.upper()

'NETHERLAND'

In [5]:
write_ = 'CARPENTER'
write_.lower()

'carpenter'

Q9.Write a code to count the no. of words in a string.

In [10]:
str_1 = 'As calm as cucumber'
word_count = len(str_1.split())
print('number of words:' , word_count)

number of words: 4

Q10. Write a code to concatenate two strings without using the + operator.

In [20]:
#using '+' operator
str1 = 'hello'
str2 = 'world'
str1 + ' ' + str2

'hello world'

In [19]:
#using join method
str1 = 'Jack'
str2 = 'Sparrow'
r = ' '.join([str1 , str2])

print(r)

Jack Sparrow

Q11. Write a code to remove all occurrences of a specific element from a list.

In [31]:
def emm(old_list, removed_element):
     
    filtered_list = [item for item in old_list if item != removed_element]
    return filtered_list

list1 = [24, 8, 9.2, 'balloon', 11, 1.98, 8.0]
removed_element = 8

bb_ = emm(list1, removed_element)
print(bb_)

[24, 9.2, 'balloon', 11, 1.98]

Q12. Implememt a code to find the second largest no. in a given list of integers.

In [ ]:
list4 = [45 , 90 , 19 , 56 , 88 , 23 ]
largest_num =

Q13. Create  a code to count the occurence of each element in a list amd return a dictionary with elements as keys and their counts as values.

Q14. Write a code to reverse a list in - place without using any built-in reverse functions.

In [49]:
def count_elements(numbers):
    elements_dict = {}
    
    for number in numbers:
        if number in elements_dict:
            elements_dict[number] += 1
        else:
            elements_dict[number] = 1

    return elements_dict

In [50]:
numbers = [1 , 3,  2, 7 , 7 , 1, 2 , 3]
result = count_elements(numbers)
print(result)

{1: 2, 3: 2, 2: 2, 7: 2}

Q15. Implement a code to find and removve duplicates from a list while preserving the original order of elements.

In [54]:
old_list = [2 ,7 , 9 ,9 , 2 , 2 , 7 , 7 , 3 ,3 , 3 ]

seen_set = set()
new_list = [item for item in old_list if not(item in seen_set or seen_set.add(item))]

print(new_list)

[2, 7, 9, 3]

Q16. Create a code to check if a given list is sorted (either in ascending order or descending order ) or not.

In [56]:
old_list = [2 ,7 , 9 ,9 , 2 , 2 , 7 , 7 , 3 ,3 , 3 ]
old_list.sort()

print(old_list)

[2, 2, 2, 3, 3, 3, 7, 7, 7, 9, 9]

Q17. Write a code to merge two sorted lists into a single sorted list.

In [57]:
list__1 = [1 , 44 , 8 ,9.0 , 4.6 , 5.780 ]
list__2 = [2.9 , 7 , 69 , 11 , 90 , 9.2 ]

list__1 + list__2

[1, 44, 8, 9.0, 4.6, 5.78, 2.9, 7, 69, 11, 90, 9.2]

In [62]:
list__1 = [1 , 44 , 8 ,9.0 , 4.6 , 5.780 ]
list__2 = [2.9 , 7 , 69 , 11 , 90 , 9.2 ]

list__2.extend(list__1)

print(list__2)

[2.9, 7, 69, 11, 90, 9.2, 1, 44, 8, 9.0, 4.6, 5.78]

In [61]:
list__1 = [1 , 44 , 8 ,9.0 , 4.6 , 5.780 ]
list__2 = [2.9 , 7 , 69 , 11 , 90 , 9.2 ]
list__3 = [600 , 1991 , 834 ]

for item in list__1 :
    list__3.append(item)
for item in list__2:
    list__3.append(item)

print(list__3)

[600, 1991, 834, 1, 44, 8, 9.0, 4.6, 5.78, 2.9, 7, 69, 11, 90, 9.2]

Q18. Write a code to find the intersection of two given lists.

In [72]:
def intersection(list1, list2):
    set1 = set(list_)
    set2 = set(_list)

list_ = [ 2, 444, 21.2 , 9 , 3 , 34 , 11]
_list = [ 14 , 21.2 , 42 , 11 , 2 , 100 ]

intersection =  list(set1 & set2)

print(intersection)

[2, 11, 21.2]

Q19. Create a code to find the union of two lists without duplicates.

In [78]:
def union (list_, _list):
    set1 = set(list_)
    set2 = set(_list)

list_ = [2 , 8 , 77 , 90 , 10 , 5]
_list = [11 , 77 , 30]

union = list(set1| set2)
print(union)

[2, 3, 34, 100, 9, 42, 11, 14, 21.2, 444]

Q 20. Write a code to shuffle a given list randomly without using any built -in shuffle functions.

Q 21. Write a code that makes tuples as input and returns a new tuple containing elements that are common to both input tuples.

In [6]:
def commom_elements(tuple_ , _tuple):
    common = set(tuple_).intersection(set(_tuple))
    
    return tuple(common)

tuple_ = (2 , 8 , 77 , 90 , 10 , 5)
_tuple = (11 , 77 , 30 )
result = commom_elements(tuple_ , _tuple)
print(result)

(77,)

Q 22. Create a code that prompts the user to enter two sets of integers separated by commas . Then, print the intersection of these two sets .

In [5]:
def intersection(first_set , second_set):
     common = (first_set).intersection(second_set)
    
     return set(common)

first_set = {3 , 2 ,77, -90 , 17 , 63}
second_set = {2 , -90 , 1 , 72 , 0}

intersection = first_set & second_set
print(intersection)

{2, -90}

Q 23. Write a code o concentrate two tuples. The function should take two tuples as inputs and returns a new tuple containing elements from both input tuples.

In [11]:
def concatenate_tuples(first_tuple , second_tuple):
    all_values = (first_tuple) + (second_tuple)
    return all_values

first_tuple = (22 , -1 , 101 , 26)
second_tuple = (14 , -72.1 , 18 , -11.6)

result = concatenate_tuples(first_tuple , second_tuple)
print(result)

(22, -1, 101, 26, 14, -72.1, 18, -11.6)

Q 24. Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.

In [14]:
def unique_elements(first_string , second_string):
    main_values = set(first_string) - set(second_string)
    return main_values

first_string = 'The lights are on , but nobody\'s home'
second_string = 'Hold your horses!!'

result = unique_elements(first_string , second_string)
print(result)

{'n', "'", 'i', 'g', 'b', 't', 'a', 'm', ',', 'T'}

Q 25. Create a code hat makes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specific range of indices.

In [16]:
def slice_tuple(original_tup , start_index , end_index):
    return original_tup [start_index : end_index]

original_tup = (2 ,8 ,11 , 92 , 37 , 70)
start_index = 1
end_index = 5

output = slice_tuple(original_tup , start_index , end_index)
print(output)

(8, 11, 92, 37)

Q 26. Write a code that prompts the user to input two sets of characters. Then , print the union of these two sets.

In [22]:
def commmon_characters(_set , __set):
    main_values = (_set).intersection(__set)
    return main_values

_set = {'s' , 'j' , 'w' , 'o' , 'x' , 'q' , 'e'}
__set = {'r' , 's' , 'q' , 'j' , 'o' , 'w'}

output = commmon_characters(_set , __set)
print(output)

{'s', 'j', 'o', 'w', 'q'}

Q 27. Develop a code that takes atuple of integers as input. The function should return the maximum and  minimum values from the tuple using upcoming.

In [26]:
def max_min_values(tuple1):
    max_value = max(tuple1)
    min_value = min(tuple1)
    
    return max_value , min_value

tuple1 = (22 ,71 , 28 , 70 ,45 , 38 , 55 , 10)

result = max_min_values(tuple1)
print(result)

(71, 10)

Q 28. Create a code that defines two sets of integers. Then, print the union , intersection and difference of these two sets.

In [27]:
def intersection(first_set , second_set):
     common = (first_set).intersection(second_set)
    
     return set(common)

first_set = {3 , 2 ,77, -90 , 17 , 63}
second_set = {2 , -90 , 1 , 72 , 0}

result = intersection(first_set , second_set)
print(result)

{2, -90}

In [ ]:
def  union(first_set , second_set):
    all_values = (first_set).union(second_set)
    return all_values

first_set = {3 , 2 ,77, -90 , 17 , 63}
second_set = {2 , -90 , 1 , 72 , 0}

result =  union(first_set , second_set)
print(result)

In [32]:
def difference(first_set , second_set):
    major_values = (first_set) - (second_set)
    return major_values

first_set = {3 , 2 ,77, -90 , 17 , 63}
second_set = {2 , -90 , 1 , 72 , 0}

output = difference(first_set , second_set)
print(output)

{17, 3, 77, 63}

Q 29. Write a code that takes a tuple and an element as input. The function should return the count of occurences of the given elements in the tuple.

In [9]:
def input_tuple(ex_tuple):
    values_count = {}

    for element in set(ex_tuple):
        values_count[element] = ex_tuple.count(element)
    
    return values_count

ex_tuple = (2, 8, 9, 4, 2, 8, 4, 4, 9)

output = input_tuple(ex_tuple)
print(output)

{8: 2, 9: 2, 2: 2, 4: 3}

Q 30. Develop a code that prompts the user o input two sets of strings. Then, print the symmetric difference of these two sets.

In [18]:
def symmetric_difference(strin1 , strin2):
    set1 = set(strin1)
    set2 = set(strin2)
    
    sym_diff = set1.symmetric_difference(set2)

strin1 = (24 , 78 , 9 , 11 , 9.08)
strin2 = (222 , -87.3 , -11 , 0.3)

result = symmetric_difference(strin1 , strin2)
print(output)

{8: 2, 9: 2, 2: 2, 4: 3}

Q 31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique woeds and the values are the frequencies of those words in the input list.

In [22]:
def word_frequencies(word_list):
    frequency_dict = {}

    for word in word_list:

        if word in frequency_dict:
            frequency_dict[word] += 1
        else:
            frequency_dict[word] = 1

    return frequency_dict

words_input = input("Enter a list of words separated by spaces: ")
words_list = words_input.split()

result = word_frequencies(words_list)
print("Word frequencies:", result)

Enter a list of words separated by spaces:  'apple': 3, 'orange': 1, 'banana': 1, 'grape': 1}

Word frequencies: {"'apple':": 1, '3,': 1, "'orange':": 1, '1,': 2, "'banana':": 1, "'grape':": 1, '1}': 1}

Q 32. Write a code that takes two  dictionaries as input and merges them into a single dictionary. if there are commomn keys , the values should be added together.

In [25]:
def merge_dictionaries(dict1, dict2):
    dict1 = {'a': 1, 'b': 2, 'c': 3}
    dict2 = {'b': 3, 'c': 4, 'd': 5}

result = merge_dictionaries(dict1, dict2)
print("Merged dictionary:", result)

Merged dictionary: None

Q34. Write a code that makes a dictionary as input and returns a sorted version of it based on the values. You can choose to sort in ascending or decending order.